body{
  margin: 0;
  background-color: black;
  font-size: 18px;
}
.container{
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  border-radius: 10px;
  height: 100vh;
  margin: 0 12%;
}
.image_part{
  background-image: url(bg_image.jpg);
  background-size: cover;
  /*Photo by <a href="https://unsplash.com/@oguzhanedman?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Oğuzhan EDMAN</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  */
}
.bg_title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40%;
  height: 10rem;
  width: 100%;
  color:white;
  background-color: black;
  opacity: 0.6;
  font-size: 4rem;
}
form{
  padding-top: 20px;
  background-color: lightgray;
  box-shadow: 0 -2px rgb(175, 175, 175);
}
.form_part{
  display: grid;
  grid-template-rows: 35% 45% 20%;
  background-color: white;
}
.form_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  height: 90%;
  padding-bottom: 40px;
}
.form_container div, legend{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  margin-left: 28px;
}
input{
  height: 1.2rem;
  width: 70%;
  border: solid black 1px;
  border-radius: 5px;
}
.main_title{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  padding: 0 0 10px 28px;
  background-color: rgb(221, 221, 221);
}
.main_btns{
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  margin: 40px 0 0 28px;
}
.form_part>div:last-of-type{
  display:block;
  background-color: grey;
  box-shadow: 0 -2px rgb(156, 156, 156);
}
button{
  width: 25%;
  height: 2.5rem;
  border: solid black 3px;
  border-radius: 10px;
}
.main_btns>p, .form_container div{
  font-size: 0.6rem;
}