body{
  margin: 0;
  background-color: black;
}
.container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-radius: 10px;
  height: 100vh;
  margin: 0 5%;
}
.image_part{
  background-color: green;
}
.bg_title{
  margin-top: 40%;
  height: 10rem;
  width: 100%;
  background-color: darkolivegreen;
}
.form_part{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  background-color: blue;
}
.main_title{
  background-color: white;
}
.main_form{
  background-color: grey;
}
.main_btns{
  background-color: aqua;
}